<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="infosaude.ads.monteiro.ifpb.edu.br.inicio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_info_saude"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="br.edu.ifpb.monteiro.ads.infosaude.inicio.InfoSaudeInicio"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="br.edu.ifpb.monteiro.ads.infosaude.autenticacao.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="br.edu.ifpb.monteiro.ads.infosaude.formularios.VisitaDomiciliar"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
